@import 'board/_pieces.less';
@import 'board/_squares.less';
@import 'board/_coordinates.less';

@board-size: 560px;

chessboard {
  display: block;
  touch-action: none;
  background-image: url('/assets/images/board_green.png');
}

.board {
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 0.5em;
  height: 100%;
  position: relative;
  user-select: none;
  width: 100%;
}

.board-container {
  display: grid;
  height: 85vh;
  width: 85vh;
  margin-top: 1em;
}
