@import "_colors.less";
@font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui,
  Helvetica, Arial, sans-serif;
@alt-font-family: "Montserrat", sans-serif;

@font-size-base: 1em;

:root {
  --background-color: @background-color;
  --accent-background: @accent-background;
  --dark-accent-background: @dark-accent-background;
  --accent-color: @accent-color;
  --dark-accent-color: @dark-accent-color;
  --text-color: @text-color;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: @font-family;
  font-size: @font-size-base;
  text-align: left;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  user-select: none;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.chess-button {
  background-color: var(--accent-color);
  border: 1px solid var(--text-color);
  border-radius: 0;
  cursor: pointer;
  font-family: @font-family;
  font-size: 1em;
  padding: 0.2em 0.4em;
  text-align: center;
  user-select: none;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border-radius: 3px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  transition: background-color 0.6s ease;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition: width 0.3s ease, height 0.3s ease;
  }
  &:focus,
  &:hover {
    background: darken(#fc6e51, 7%);
  }
  &:active {
    &:after {
      width: 300px;
      height: 300px;
    }
  }
}

.chess-input {
  border: 1px solid var(--text-color);
  border-radius: 0;
  font-family: @font-family;
  font-size: 1em;
  padding: 0.2em 0.4em;
  user-select: none;
  width: 10ex;

  &:focus {
    border: 1px dashed var(--dark-accent-color);
    outline: none;
  }
}
