
.hint {
    background-clip: content-box;
    box-sizing: border-box;
    border-radius: 50%;
    height: 12.5%;
    width: 12.5%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;

    &-move {
        background-color: rgba(0, 0, 0, 0.2);
        padding: 4.2%;
    }

    &-capture {
        border: 5px solid rgba(0, 0, 0, 0.1);
        border-width: 1vh;
    }
}

.square-11 {
    transform: translateX(0%) translateY(700%);

    .flipped & {
        transform: translateX(700%) translateY(0%);
    }
}

.square-12 {
    transform: translateX(0%) translateY(600%);

    .flipped & {
        transform: translateX(700%) translateY(100%);
    }
}

.square-13 {
    transform: translateX(0%) translateY(500%);

    .flipped & {
        transform: translateX(700%) translateY(200%);
    }
}

.square-14 {
    transform: translateX(0%) translateY(400%);

    .flipped & {
        transform: translateX(700%) translateY(300%);
    }
}

.square-15 {
    transform: translateX(0%) translateY(300%);

    .flipped & {
        transform: translateX(700%) translateY(400%);
    }
}

.square-16 {
    transform: translateX(0%) translateY(200%);

    .flipped & {
        transform: translateX(700%) translateY(500%);
    }
}

.square-17 {
    transform: translateX(0%) translateY(100%);

    .flipped & {
        transform: translateX(700%) translateY(600%);
    }
}

.square-18 {
    transform: translateX(0%) translateY(0%);

    .flipped & {
        transform: translateX(700%) translateY(700%);
    }
}

.square-21 {
    transform: translateX(100%) translateY(700%);

    .flipped & {
        transform: translateX(600%) translateY(0%);
    }
}

.square-22 {
    transform: translateX(100%) translateY(600%);

    .flipped & {
        transform: translateX(600%) translateY(100%);
    }
}

.square-23 {
    transform: translateX(100%) translateY(500%);

    .flipped & {
        transform: translateX(600%) translateY(200%);
    }
}

.square-24 {
    transform: translateX(100%) translateY(400%);

    .flipped & {
        transform: translateX(600%) translateY(300%);
    }
}

.square-25 {
    transform: translateX(100%) translateY(300%);

    .flipped & {
        transform: translateX(600%) translateY(400%);
    }
}

.square-26 {
    transform: translateX(100%) translateY(200%);

    .flipped & {
        transform: translateX(600%) translateY(500%);
    }
}

.square-27
{
    transform: translateX(100%) translateY(100%);

    .flipped & {
        transform: translateX(600%) translateY(600%);
    }
}

.square-28 {
    transform: translateX(100%) translateY(0%);

    .flipped & {
        transform: translateX(600%) translateY(700%);
    }
}

.square-31 {
    transform: translateX(200%) translateY(700%);

    .flipped & {
        transform: translateX(500%) translateY(0%);
    }
}

.square-32 {
    transform: translateX(200%) translateY(600%);

    .flipped & {
        transform: translateX(500%) translateY(100%);
    }
}

.square-33 {
    transform: translateX(200%) translateY(500%);

    .flipped & {
        transform: translateX(500%) translateY(200%);
    }
}

.square-34 {
    transform: translateX(200%) translateY(400%);

    .flipped & {
        transform: translateX(500%) translateY(300%);
    }
}   

.square-35 {
    transform: translateX(200%) translateY(300%);

    .flipped & {
        transform: translateX(500%) translateY(400%);
    }
}

.square-36 {
    transform: translateX(200%) translateY(200%);

    .flipped & {
        transform: translateX(500%) translateY(500%);
    }
}   

.square-37 {
    transform: translateX(200%) translateY(100%);

    .flipped & {
        transform: translateX(500%) translateY(600%);
    }
}   

.square-38 {
    transform: translateX(200%) translateY(0%);

    .flipped & {
        transform: translateX(500%) translateY(700%);
    }
}

.square-41 {
    transform: translateX(300%) translateY(700%);

    .flipped & {
        transform: translateX(400%) translateY(0%);
    }
}

.square-42 {
    transform: translateX(300%) translateY(600%);

    .flipped & {
        transform: translateX(400%) translateY(100%);
    }
}

.square-43 {
    transform: translateX(300%) translateY(500%);

    .flipped & {
        transform: translateX(400%) translateY(200%);
    }
}

.square-44 {
    transform: translateX(300%) translateY(400%);

    .flipped & {
        transform: translateX(400%) translateY(300%);
    }
}

.square-45 {
    transform: translateX(300%) translateY(300%);

    .flipped & {
        transform: translateX(400%) translateY(400%);
    }
}

.square-46 {
    transform: translateX(300%) translateY(200%);

    .flipped & {
        transform: translateX(400%) translateY(500%);
    }
}

.square-47 {
    transform: translateX(300%) translateY(100%);

    .flipped & {
        transform: translateX(400%) translateY(600%);
    }
}

.square-48 {
    transform: translateX(300%) translateY(0%);

    .flipped & {
        transform: translateX(400%) translateY(700%);
    }
}

.square-51 {
    transform: translateX(400%) translateY(700%);

    .flipped & {
        transform: translateX(300%) translateY(0%);
    }
}

.square-52 {
    transform: translateX(400%) translateY(600%);

    .flipped & {
        transform: translateX(300%) translateY(100%);
    }
}

.square-53 {
    transform: translateX(400%) translateY(500%);

    .flipped & {
        transform: translateX(300%) translateY(200%);
    }
}

.square-54 {
    transform: translateX(400%) translateY(400%);

    .flipped & {
        transform: translateX(300%) translateY(300%);
    }
}

.square-55 {
    transform: translateX(400%) translateY(300%);

    .flipped & {
        transform: translateX(300%) translateY(400%);
    }
}

.square-56 {
    transform: translateX(400%) translateY(200%);

    .flipped & {
        transform: translateX(300%) translateY(500%);
    }
}

.square-57 {
    transform: translateX(400%) translateY(100%);

    .flipped & {
        transform: translateX(300%) translateY(600%);
    }
}

.square-58 {
    transform: translateX(400%) translateY(0%);

    .flipped & {
        transform: translateX(300%) translateY(700%);
    }
}

.square-61 {
    transform: translateX(500%) translateY(700%);

    .flipped & {
        transform: translateX(200%) translateY(0%);
    }
}

.square-62 {
    transform: translateX(500%) translateY(600%);

    .flipped & {
        transform: translateX(200%) translateY(100%);
    }
}

.square-63 {
    transform: translateX(500%) translateY(500%);

    .flipped & {
        transform: translateX(200%) translateY(200%);
    }
}

.square-64 {
    transform: translateX(500%) translateY(400%);

    .flipped & {
        transform: translateX(200%) translateY(300%);
    }
}

.square-65 {
    transform: translateX(500%) translateY(300%);

    .flipped & {
        transform: translateX(200%) translateY(400%);
    }
}

.square-66 {
    transform: translateX(500%) translateY(200%);

    .flipped & {
        transform: translateX(200%) translateY(500%);
    }
}

.square-67 {
    transform: translateX(500%) translateY(100%);

    .flipped & {
        transform: translateX(200%) translateY(600%);
    }
}

.square-68 {
    transform: translateX(500%) translateY(0%);

    .flipped & {
        transform: translateX(200%) translateY(700%);
    }
}

.square-71 {
    transform: translateX(600%) translateY(700%);

    .flipped & {
        transform: translateX(100%) translateY(0%);
    }
}

.square-72 {
    transform: translateX(600%) translateY(600%);

    .flipped & {
        transform: translateX(100%) translateY(100%);
    }
}

.square-73 {
    transform: translateX(600%) translateY(500%);

    .flipped & {
        transform: translateX(100%) translateY(200%);
    }
}

.square-74 {
    transform: translateX(600%) translateY(400%);

    .flipped & {
        transform: translateX(100%) translateY(300%);
    }
}

.square-75 {
    transform: translateX(600%) translateY(300%);

    .flipped & {
        transform: translateX(100%) translateY(400%);
    }
}

.square-76 {
    transform: translateX(600%) translateY(200%);

    .flipped & {
        transform: translateX(100%) translateY(500%);
    }
}

.square-77 {
    transform: translateX(600%) translateY(100%);

    .flipped & {
        transform: translateX(100%) translateY(600%);
    }
}

.square-78 {
    transform: translateX(600%) translateY(0%);

    .flipped & {
        transform: translateX(100%) translateY(700%);
    }
}

.square-81 {
    transform: translateX(700%) translateY(700%);

    .flipped & {
        transform: translateX(0%) translateY(0%);
    }
}

.square-82 {
    transform: translateX(700%) translateY(600%);

    .flipped & {
        transform: translateX(0%) translateY(100%);
    }
}

.square-83 {
    transform: translateX(700%) translateY(500%);

    .flipped & {
        transform: translateX(0%) translateY(200%);
    }
}

.square-84 {
    transform: translateX(700%) translateY(400%);

    .flipped & {
        transform: translateX(0%) translateY(300%);
    }
}

.square-85 {
    transform: translateX(700%) translateY(300%);

    .flipped & {
        transform: translateX(0%) translateY(400%);
    }
}

.square-86 {
    transform: translateX(700%) translateY(200%);

    .flipped & {
        transform: translateX(0%) translateY(500%);
    }
}

.square-87 {
    transform: translateX(700%) translateY(100%);

    .flipped & {
        transform: translateX(0%) translateY(600%);
    }
}

.square-88 {
    transform: translateX(700%) translateY(0%);

    .flipped & {
        transform: translateX(0%) translateY(700%);
    }
}





