<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>About Chess Game</title>
  </head>
  <body>
    <h1>About Chess Game</h1>
    <p>
      Chess is a classic two-player strategy board game that has been played for
      centuries. It is a game of skill, strategy, and patience, and is enjoyed
      by people of all ages and backgrounds.
    </p>
    <h2>How to Play</h2>
    <p>
      The objective of the game is to checkmate your opponent's king, which
      means putting their king in a position where it is under attack (in
      "check") and there is no way to move it out of attack (in "mate").
    </p>
    <p>
        Each player starts with 16 pieces: one king, one queen, two rooks, two
        knights, two bishops, and eight pawns. The pieces move in different ways,
        and the player must use strategy to capture their opponent's pieces while
        protecting their own.
    </p>
    <h2>Chess Piece Movements</h2>
    <p>
            Pawn (P): Pawns move forward one square at a time. On their first move,
            pawns have the option to move forward two squares. Pawns capture
            diagonally one square forward. Pawns can't move backward.
    </p>
    <p>
        Rook (R): Rooks move horizontally or vertically any number of squares.
        Rooks can't jump over other pieces.
    </p>
    <p>
        Knight (N): Knights move in an "L" shape, two squares horizontally or
        vertically and then one square perpendicular to that. Knights can jump
        over other pieces.
    </p>
    <p>
        Bishop (B): Bishops move diagonally any number of squares. Bishops can't
        jump over other pieces.
    </p>
    <p>
        Queen (Q): Queens move horizontally, vertically, or diagonally any number
        of squares. Queens can't jump over other pieces.
    </p>
    <p>
        King (K): Kings move one square in any direction. Kings can't jump over
        other pieces. Kings can't move into check.
    </p>
    <h3>Authors</h3>
    <p>
      This project was created by 
      <a href="https://github.com/biselli-mar" >Marcel Biselli</a> and
        <a href="https://github.com/emanuelk02" >Emanuel Kupke</a> as part of the Web Applications course at
        the University of Applied Sciences Konstanz.
    </p>

  </body>
</html>
