@import de.htwg.se.chess.util.data._
@import helper._
@import models.forms._
@import models.data._

@(playerColor: PieceColor)

@*********************************************************
 * Helper functions for rendering the board coordinates. *
 ********************************************************@

@intToFileChar(i: Int) = @{
  if(playerColor == PieceColor.White) {
    ('a'.toInt + i).toChar
  } else {
    ('h'.toInt - i).toChar
  }
}
  
@intToRank(i: Int) = @{
  if(playerColor == PieceColor.White) {
    8 - i
  } else {
    i + 1
  }
}

@fileBrightnessStr(file: Int) = @{
  if(file % 2 == 0) {
    "dark"
  } else {
    "light"
  }
}

@fileSvg(x: Double, y: Double, file: Char, color: String) = {
  <text x="@{x}" y="@{y}" class="coordinates-@{color} file">@{file}</text>
}

@rankSvg(x: Double, y: Double, rank: Int, color: String) = {
  <text x="@{x}" y="@{y}" class="coordinates-@{color} rank">@{rank}</text>
}

@*******************************************@

@nav("HTWG Chess", stylesheets = List("game")) {
  <audio id="move-sound" src="@routes.Assets.versioned("sounds/move.mp3")"></audio>
  <audio id="capture-sound" src="@routes.Assets.versioned("sounds/capture.mp3")"></audio>
  <audio id="check-sound" src="@routes.Assets.versioned("sounds/check.mp3")"></audio>
  <chess-modals></chess-modals>
  <div id="sessionIdDisplay" class="bootstrap-textbox"></div>
  <game-container player-color="@playerColor.toFenChar" />
}

