@import de.htwg.se.chess.util.data._
@(chessboard: 
  Matrix[Option[Piece]], 
  state: ChessState, 
  playerColor: PieceColor, 
  legalMoves: List[Tuple2[Int, Int]], 
  moveForm: Form[MoveForm], 
  selectForm: Form[SelectForm],
  fenForm: Form[FenForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._
@import models._

@backgroundStr(row: Int, col: Int) = @{
  if((row % 2 == 1 && col % 2 == 0) || (row % 2 == 0 && col % 2 == 1)) {
    "D"
  } else {
    "L"
  }
}

@highlightStr(row: Int, col: Int) = @{
  if(legalMoves.contains(Tuple2(row, col))) {
    "_H"
  } else {
    ""
  }
}

@maybePiece(row: Int, col: Int) = @{
  chessboard.cell(row, col)
}

@piece(row: Int, col: Int) = @{
  maybePiece(row, col).get
}

@pieceDiv(row: Int, col: Int, piece: Piece) = {
  <div class="@{"piece " + piece.getColor.toFenChar + piece.toFenChar.toLowerCase() + " square-" + (col + 1) + (8 - row)}"></div>
}

@intToFileChar(i: Int) = @{
  if(playerColor == PieceColor.White) {
    ('a'.toInt + i).toChar
  } else {
    ('h'.toInt - i).toChar
  }
}

@intToRank(i: Int) = @{
  if(playerColor == PieceColor.White) {
    8 - i
  } else {
    i + 1
  }
}

@fileBrightnessStr(file: Int) = @{
  if(file % 2 == 0) {
    "dark"
  } else {
    "light"
  }
}

@fileSvg(x: Double, y: Double, file: Char, color: String) = {
  <text x="@{x}" y="@{y}" class="coordinates-@{color} file">@{file}</text>
}

@rankSvg(x: Double, y: Double, rank: Int, color: String) = {
  <text x="@{x}" y="@{y}" class="coordinates-@{color} rank">@{rank}</text>
}

@hintDiv(cell: Tuple2[Int, Int]) = {
  @if(maybePiece(cell._1, cell._2).isDefined) {
    <div class="hint hint-capture square-@{cell._2 + 1}@{8 - cell._1}"></div>" 
  } else {
    <div class="hint hint-move square-@{cell._2 + 1}@{8 - cell._1}"></div>
  }
}

@*
@(moveForm: Form[MoveForm])(implicit messages: play.api.i18n.Messages)
*@
<!-- HTML code for rendering the chessboard -->
@main("HTWG Chess", List("game")) {
  <div class="board-container">
    @if(playerColor == PieceColor.White) {
      <chessboard id="chessboard" class="board">
    } else {
      <chessboard id="chessboard" class="board flipped">
    }
      <svg class="coordinates" viewBox="0 0 100 100">
        @for(num <- 0 until 8) {
          @fileSvg(num * 12.5 + 11, 99, intToFileChar(num), fileBrightnessStr(num))
          @rankSvg(0.75, num * 12.5 + 3.5, intToRank(num), fileBrightnessStr(num + 1))
        }
      </svg>
      @for(col <- 0 until 8) {
        @for(row <- 0 until 8) {
          @if(maybePiece(row, col).isDefined) {
            @pieceDiv(row, col, piece(row, col))
          }
        }
      }
      @for(hint <- legalMoves) {
        @hintDiv(hint)
      }
    </chessboard>
  </div>
  <div class="chess-info"> 
    <h3>Game Info</h3>
    Current Player: @state.color<br>
    Half-Moves: @state.halfMoves<br>
    Full-Moves: @state.fullMoves
  </div>
  <div class="fen-load">
    <h3>Load FEN position</h3>
    @helper.form(action = routes.ChessController.putWithFen) {
      @CSRF.formField
      @helper.inputText(fenForm("fen"))
      <input type="submit" value="Load">
    }
  </div>
  <div class="move-select">
    <h3>Move Pieces</h3>
    @helper.form(action = routes.ChessController.move) {
      @CSRF.formField
      @helper.inputText(moveForm("from"))
      @helper.inputText(moveForm("to"))
      <input type="submit" value="Move">
    }
    <h3>Select Tile</h3>
    @helper.form(action = routes.ChessController.select) {
      @CSRF.formField
      @helper.inputText(selectForm("tile"))
      <input type="submit" value="Select">
    }
  </div>
  <div class="control-buttons">
    <form method="post">
      @CSRF.formField
      <input type="submit" value="Undo" formaction="@routes.ChessController.undo">
      <input type="submit" value="Redo" formaction="@routes.ChessController.redo">
      <input type="submit" value="Reset" formaction="@routes.ChessController.reset">
      <input type="submit" value="Clear" formaction="@routes.ChessController.clear">
    </form>
  </div>
}

