@import de.htwg.se.chess.util.data._
@import helper._
@import models.forms._
@import models.data._

@(createSessionForm: Form[CreateSessionForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@nav("New Game", stylesheets = List("newSessions"), scripts = List("cookieHandler", "createSession")) {
    <div class="button-container">
        <form class="visually-hidden" id="join-white-form">
            @CSRF.formField
        </form>
        <button class="chess-button chess-button-big" id="join-white-btn">Play as White</button>
        <form class="visually-hidden" id="join-black-form">
            @CSRF.formField
        </form>
        <button class="chess-button chess-button-big" id="join-black-btn">Play as Black</button>
    </div>
    
}